extends layout      
block body
    nav
        .row.navi
            header.col-6(role='header')
                h1 Vay-K

            .col-6
                ul.nav-menu
                    if !user
                        li
                            a(href='/login') Login
                    else
                        li
                            a(href='/add') Add
                        li
                            a(href='/faves') Faves
                        li
                            a(href='/places') Places
                        li
                            a(href="/logout") LogOut
    if message
        .row.center.card
            h2.col-12.warn= message
        
    block content
